body{
    color: black;
    font-family: 'halvetica Semibold';
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 5px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas: 
    "header header header header"
    "navbar navbar navbar navbar"
    "article1 article2 article3 sidebar"
    "article4 article5 article5 article6"
    "footer footer footer footer";
}


.content > *{
    background-color: aliceblue;
    padding: 10px;
}

.header {
    color: rgb(245, 214, 37);
    grid-column: 1/5;
    grid-area: header;
    margin-top: 15px;
    margin-bottom: 15px;
}

.article1 {
    grid-column: 1/2;
    grid-row: 2/5;
    grid-area: article1;
}

.article2 {
    grid-column: 2/3;
    grid-row: 2/5;  
    grid-area: article2;
}

.article3 {
    grid-column: 3/4;
    grid-row: 2/5;
    grid-area: article3;
}

.sidebar {
    grid-column: 4/5;
    grid-row: 2/6;
    grid-area: sidebar;
    background-color: tan;
    color: black;
}

.navbar {
    grid-area: navbar;
    font-weight: bold;
    padding-top: 35px;
    color: #3bbced;
    background-color: rgb(178, 225, 252);
}


.article4 {
    grid-column: 1/2;
    grid-row: 5/7;
    grid-area: article4;
}

.article5 {
    grid-column: 2/3;
    grid-row: 5/7;
    grid-area: article5;
}

.article6 {
    grid-column: 3/4;
    grid-row: 5/7;
    grid-area: article6;
}

.ArticleText, .sidebar p {
    text-align: justify;
}

.footer{
    color: rgb(245, 214, 37);
    grid-column: span 4;
    grid-area: footer;
}

@media screen and (min-width: 220px){
    .content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 5px;
        max-width: 960px;
        margin: 0 auto;
        grid-template-areas: 
        "header"
        "navbar"
        "article1 "
        "article2 "
        "article3"
        "article4"
        "article5"
        "article6"
        "sidebar"
        "footer";
    }
    }
    @media screen and (min-width: 730px){
        .content{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, minmax(100px, auto));
            grid-auto-rows: minmax(150px, auto);
            grid-gap: 5px;
            max-width: 960px;
            margin: 0 auto;
            grid-template-areas: 
            "header header"
            "navbar navbar"
            "article1 article2"
            "article3 article4"
            "article5"
            "article6"
            "sidebar sidebar "
            "footer footer";
        }
        }

        @media screen and (min-width: 1137px){
            .content{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, minmax(100px, auto));
                grid-auto-rows: minmax(150px, auto);
                grid-gap: 5px;
                max-width: 960px;
                margin: 0 auto;
                grid-template-areas: 
                "header header header"
                "navbar navbar navbar"
                "article1 article2 article3"
                "article4 article5"
                "article6 sidebar sidebar"
                "footer footer footer";
            }
            }

            @media screen and (min-width: 1250px){
                .content{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(4, minmax(100px, auto));
                    grid-auto-rows: minmax(150px, auto);
                    grid-gap: 5px;
                    max-width: 960px;
                    margin: 0 auto;
                    grid-template-areas: 
                    "header header header header"
                    "navbar navbar navbar navbar"
                    "article1 article2 article3 sidebar"
                    "article4 article5 article5 article6"
                    "footer footer footer footer";
                }
                }
                


