body{
    color: black;
    font-family: 'halvetica Semibold';
    text-align: center;
    
}
#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 5px;
    max-width: 960px;
    margin: 0 auto;
}
#content > *{
    background-color: aliceblue;
    padding: 10px;
}
.header {
    margin-top: 15px;
    margin-bottom: 15px;
}
.main{
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    background: #e82b69;
    
}
.aside, .article{
    grid-column: 1 / 2;
    background: #fac24a;
}
.nav{
    grid-column: 1 / 2;
    background: #8ae348;
}
.footer{
    grid-column: span 4;
}

.header, .eleven {
    grid-column: 1/5;
}

.two {
    grid-column: 1/2;
    grid-row: 2/5;
}

.three {
    grid-column: 2/3;
    grid-row: 2/5;  
}

.four {
    grid-column: 3/4;
    grid-row: 2/5;
}

.aside {
    grid-column: 4/5;
    grid-row: 2/6;
    color: black;
}

.seven {
    grid-column: 1/2;
    grid-row: 5/7;
}

.eight {
    grid-column: 2/3;
    grid-row: 5/7;
}

.nine {
    grid-column: 3/4;
    grid-row: 5/7;
}

.ArticleText, .aside p {
    text-align: justify;
}
